@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Sono:wght@200..800&display=swap');

:root {
  --primary-color: #FFEC51;
  --secondary-color: #FFFAFF;
  --accent-color-1: #90F1EF;
  --background-color: #04080F;
}

.App {
  text-align: left;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f4f3ee;
  font-family: 'DM Mono';
}

.Container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 27%;
    margin-right: 27%;
}

@media all and (max-width: 1300px) {
  .Container {
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 5%;
      margin-right: 5%;
  }
}

@media all and (max-width: 991px) {
  .GameDevProjectContainer {
    text-align: center;
  }
}

@media all and (min-width: 991px) {
  .GameDevProjectContainer{
    display: flex;
    justify-content: space-between;
    overflow-wrap: no;
  }
}

.Header {
  display: flex;
  align-items: top;
  justify-content: space-between;
  text-align: right;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
}


.Logo {
  height:5.5rem;
  padding-right: .5rem;
  justify-content: center;
  color: #DA4167;
}

.GameDevProject {
  font-size: 1.2rem;
  white-space: pre;
  text-decoration: none;
}

.GameDevProjectText {
  white-space: pre;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: lighter
}

.GameDevProjectText:hover {
  color: var(--primary-color);
}


@media all and (max-width: 991px) {
  .GameDevProjectContainer {
    text-align: center;
  }
}

@media all and (min-width: 991px) {
  .GameDevProjectContainer{
    display: flex;
    justify-content: space-between;
    overflow-wrap: no;
  }
}

.HeaderText {
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

body {
  background-color: var(--background-color);
  background-image: radial-gradient(#77687110 2px, transparent 0);
  background-size: 1em 1em;
}

.SectionHeader {
  color: var(--accent-color-1);
  font-size: 1.4rem;
  padding-top: .8rem;
}

.SectionText {
  font-size: 1.2rem;
  padding-top: .8rem;
  font-weight: lighter
}

h1 {
  font-size: 3.5rem;
  margin: 0px;
  color: var(--primary-color);
  text-overflow: "";
  line-height: 90%;
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: .17rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

@media all and (max-width: 991px) {
  h1 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: .7rem;
  }
}
